<div class="wrapper">
  <div id="choose-us">
    <a href="https://www.freeiconspng.com/img/16828" title="Image from freeiconspng.com">
      <img id="choose-us-image" src="https://www.freeiconspng.com/uploads/audi-png-auto-car-0.png" width="800" alt="Audi PNG auto car">
    </a>
    <div id="choose-us-content">
      <div id="choose-us-title-contetnt">
        <p id="choose-us-gray-title" class="gray-title" data-langKey="choose-us-title">Why choose us</p>
        <p id="choose-us-title" data-langKey="choose-us-title-long">We offer the best experience</p>
      </div>
      <div id="choose-us-items">
        <div class="choose-us-item">
          <img class="choose-us-icon" src="/images/best-price.png">
          <div>
            <p class="choose-us-title" data-langKey="choose-us-price-title">The best price</p>
            <p class="choose-us-description" data-langKey="choose-us-price-description">We pride ourselves on offering the best prices in the industry.</p>
          </div>
        </div>
        <div class="choose-us-item">
          <img class="choose-us-icon" src="/images/phone.png">
          <div>
            <p class="choose-us-title" data-langKey="choose-us-support-title">24/7 technical support</p>
            <p class="choose-us-description" data-langKey="choose-us-support-description">Have a question? Contact the VM MAXIMA CAR support anytime when you have a problem.</p>
          </div>
        </div>
        <div class="choose-us-item">
          <img class="choose-us-icon" src="/images/good-quality.png">
          <div>
            <p class="choose-us-title" data-langKey="choose-us-quality-title">Good quality</p>
            <p class="choose-us-description" data-langKey="choose-us-quality-description">Our rigorous inspection process ensures that every car we have is in top condition.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 43 6F 64 65 64 20 63 6F 6D 70 6C 65 74 65 6C 79 20 62 79 20 44 65 6E 6F 6E 65 72 6F 44 65 76 -->
