<div id="filter">
  <div id="filter-sections">
    <div class="filter-section">
      <p class="filter-section-title" data-langKey="filter-packets">Packets</p>
      <select placeholder="All" id="packets" multiple>
      </select>
    </div>
    <div class="filter-section">
      <p class="filter-section-title" data-langKey="filter-marks">Marks</p>
      <select placeholder="All" id="marks" multiple>
      </select>
    </div>
    <div class="filter-section">
      <p class="filter-section-title" data-langKey="filter-models">Models</p>
      <select placeholder="All" id="models" multiple disabled>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-colors">Colors</p>
      <select id="colors" multiple data-test="test">
        <option value="White"></option>
        <option value="Black"></option>
        <option value="Beige"></option>
        <option value="Red"></option>
        <option value="Blue"></option>
        <option value="Gray"></option>
        <option value="Silver"></option>
        <option value="Yellow"></option>
        <option value="Green"></option>
        <option value="Brown"></option>
        <option value="Bronze"></option>
        <option value="Gold"></option>
        <option value="Orange"></option>
        <option value="Purple"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-distance">Max. Distance</p>
      <select id="distance">
        <option value="All" placeholder></option>
        <option value="0km"></option>
        <option value="2.500km"></option>
        <option value="5.000km"></option>
        <option value="10.000km"></option>
        <option value="20.000km"></option>
        <option value="30.000km"></option>
        <option value="40.000km"></option>
        <option value="50.000km"></option>
        <option value="60.000km"></option>
        <option value="70.000km"></option>
        <option value="80.000km"></option>
        <option value="90.000km"></option>
        <option value="100.000km"></option>
        <option value="150.000km"></option>
        <option value="200.000km"></option>
        <option value="250.000km"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-fuel">Fuel Type</p>
      <select id="fuel">
        <option value="All" placeholder></option>
        <option value="Gasoline"></option>
        <option value="Diesel"></option>
        <option value="Electric"></option>
        <option value="Gas"></option>
        <option value="Hybrid-Electric/Gasoline"></option>
        <option value="Hybrid-Electric/Diesel"></option>
        <option value="Hydrogen"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-transmission">Transmission</p>
      <select id="transmission">
        <option value="All" placeholder></option>
        <option value="Automatic"></option>
        <option value="Manually"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-rating">Min. Rating</p>
      <select id="rating">
        <option value="All" placeholder></option>
        <option value="1 Star"></option>
        <option value="2 Stars"></option>
        <option value="3 Stars"></option>
        <option value="4 Stars"></option>
        <option value="5 Stars"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-power">Min. Power</p>
      <select id="power">
        <option value="All" placeholder></option>
        <option value="1kW"></option>
        <option value="60kW"></option>
        <option value="100kW"></option>
        <option value="150kW"></option>
        <option value="200kW"></option>
        <option value="300kW"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-doors">Doors</p>
      <select id="doors">
        <option value="All" placeholder></option>
        <option value="2 Doors"></option>
        <option value="4 Doors"></option>
        <option value="6 Doors"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-seats">Seats</p>
      <select id="seats">
        <option value="All" placeholder></option>
        <option value="2 Seats"></option>
        <option value="3 Seats"></option>
        <option value="4 Seats"></option>
        <option value="5 Seats"></option>
        <option value="6 Seats"></option>
        <option value="7 Seats"></option>
        <option value="8 Seats"></option>
        <option value="9 Seats"></option>
        <option value="10 Seats"></option>
      </select>
    </div>
    <div class="filter-section" style="display: none;">
      <p class="filter-section-title" data-langKey="filter-years">Build Years</p>
      <select id="years" multiple>
      </select>
    </div>
  </div>
  <div class="filter-actions">
    <div id="sub-actions">
      <button id="more-options-button" data-langKey="filter-more-btn">More Filters</button>
      <button id="reset-button" data-langKey="filter-reset-btn">Reset Filters</button>
    </div>
    <button id="filter-button" data-langKey="filter-button">Update</button>
  </div>
</div>

<style>
</style>
<!-- 43 6F 64 65 64 20 63 6F 6D 70 6C 65 74 65 6C 79 20 62 79 20 44 65 6E 6F 6E 65 72 6F 44 65 76 -->
