<div id="top-bar">
	<div class="white">
		<div class="wrapper">
			<div id="header">
				<form id="search">
					<input
						data-langKey="search-input-placeholder"
						id="search-input"
						placeholder="Search..."
						type="search" />
					<img id="search-icon" src="/images/search.png" alt="->" />
				</form>
				<a href="/">
					<img class="logo" src="/images/logo.png" alt="VM CAR" />
				</a>
				<div class="contact" id="header-contact">
					<a href="mailto:office@vm-car.eu">
						<img src="/images/email.png">
						<p>office@vm-car.eu</p>
					</a>
					<div id="both-numbers">
						<img src="/images/phone.png">
						<div>
							<a href="tel:[/= numbers.de /]">
								<p>[/= numbers.de /]</p>
							</a>
							<a href="tel:[/= numbers.cs /]">
								<p>[/= numbers.cs /]</p>
							</a>
						</div>
					</div>
				</div>
				<div id="menue-button">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div id="navigation">
		<a href="/" data-langKey="navigation-home">Home</a>
		<a href="/browse" data-langKey="navigation-browse">Browse</a>
		<a href="/favorites" data-langKey="navigation-favorites">My Favorites</a>
		<a href="/about-us" data-langKey="navigation-aboutus">About Us</a>
	</div>
</div>
<div id="menue">
	<div class="contact" id="menu-contact">
		<a href="mailto:office@vm-car.eu">
			<img src="/images/email.png">
			<p>office@vm-car.eu</p>
		</a>
		<div id="both-numbers">
			<img src="/images/phone.png">
			<div>
				<a href="tel:[/= numbers.de /]">
					<p>[/= numbers.de /]</p>
				</a>
				<a href="tel:[/= numbers.cs /]">
					<p>[/= numbers.cs /]</p>
				</a>
			</div>
		</div>
	</div>
	<a href="/" data-langKey="navigation-home">Home</a>
	<a href="/browse" data-langKey="navigation-browse">Browse</a>
	<a href="/favorites" data-langKey="navigation-favorites">My Favorites</a>
	<a href="/about-us" data-langKey="navigation-aboutus">About Us</a>
</div>

<!-- 43 6F 64 65 64 20 63 6F 6D 70 6C 65 74 65 6C 79 20 62 79 20 44 65 6E 6F 6E 65 72 6F 44 65 76 -->
