<div class="white">
  <div class="wrapper">
    <div id="popular-cars">
      [/- include("./filter") /]
      <p class="gray-title" data-langKey="popular-cars-title">Most popular cars</p>
      <div id="cars" style="margin-top: 0;">
      </div>
      <form>
        <button type="submit" formaction="/browse" id="more-cars-button">
          <p id="more-cars-title" data-langKey="popular-cars-button">Show all cars</p>
          <img id="more-cars-image" src="/images/arrow.png">
        </button>
      </form>
    </div>
  </div>
</div>
</div>
<!-- 43 6F 64 65 64 20 63 6F 6D 70 6C 65 74 65 6C 79 20 62 79 20 44 65 6E 6F 6E 65 72 6F 44 65 76 -->
