<div class="wrapper">
	<div id="steps">
		<div id="steps-title" data-langKey="steps-title">
			Together, we can find the perfect car that<br />matches your dreams.
		</div>
		<div id="step-content">
			<div class="step">
				<img src="/images/01.png" alt="01" class="step-number-image" />
				<p class="step-title" data-langKey="step-one-title">Choose the car!</p>
				<p class="step-description" data-langKey="step-one-description">
					Please feel free to contact us if you don't find anything.
					We will inform you about new offers!
				</p>
			</div>
			<div class="step">
				<img src="/images/02.png" alt="02" class="step-number-image" />
				<p class="step-title" data-langKey="step-two-title">Share it with us!</p>
				<p class="step-description" data-langKey="step-two-description">
					In a personal conversation, we will gather your wishes and
					provide you with an offer!
				</p>
			</div>
			<div class="step">
				<img src="/images/03.png" alt="03" class="step-number-image" />
				<p class="step-title" data-langKey="step-three-title">Payment!</p>
				<p class="step-description" data-langKey="step-three-description">
					You can choose from a variety of payment options. We are
					also happy to offer you affordable financing!
				</p>
			</div>
			<div class="step">
				<img src="/images/04.png" alt="04" class="step-number-image" />
				<p class="step-title" data-langKey="step-four-title">Have a good trip!</p>
				<p class="step-description" data-langKey="step-four-description">
					We wish you a safe journey and stay healthy! We are also
					happy to be there for you after the purchase of your car!
				</p>
			</div>
		</div>
	</div>
</div>
<!-- 43 6F 64 65 64 20 63 6F 6D 70 6C 65 74 65 6C 79 20 62 79 20 44 65 6E 6F 6E 65 72 6F 44 65 76 -->
