<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM CAR | [/= status /]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bundles/css/error.bundle.css">
	<link rel="icon" sizes="128x128" type="image/x-icon" href="/images/icon.ico">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="128x128" href="/images/icon.ico">
	<meta name="msapplication-TileImage" content="/images/icon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
    <meta name="robots" content="noindex, nofollow">
    <base href="/error/">
    <meta name="copyright" content="Vm Maxima Car">
</head>
<body>
    [/- include("../partials/header") /]
    <div class="wrapper" id="error">
        <p id="status">[/= status /]</p>
        <p id="msg">Some kind of msg..</p>
    </div>
    [/- include("../partials/footer") /]
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/bundles/javascript/error.bundle.js"></script>
</body>
</html>